@viewport {
    width: device-width;
    zoom: 1.0 ;
}

* {
    background-color: #101010;
    color: #00FF88;
    border-color: #00FF88;
    font-family: Arial, Helvetica, sans-serif;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-wrap: break-word;
    font-size: large;
}

.sidebarText {
    padding: 5% 5% 5% 5%;
}

.controlInfo {
    padding: 5% 5% 5% 5%;
    display: none;
}

.qrCode {
    margin-left: auto;
    margin-right: auto;
    max-width: 256;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.controlPanel {
    height: 100%; /* 100% Full-height */
    width: 100%;
    position: fixed; /* Stay in place */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-wrap: break-word;
    font-size: xx-large;
    display: inline-block;
}

button {
    padding: 5px;
    border: 1px solid #202020;
    background-color: #202020;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    min-width: 0px;
    font-size: large;
}

button:hover {
    border: 1px solid #00FF88;
    background-color: #303030;
}

button:active {
    border: 1px solid #00FF88;
    background-color: #303030;
}

button:focus {
    border: 1px solid #202020;
    background-color: #202020;
}

button:visited {
    border: 1px solid #202020;
    background-color: #202020;
}

input[type=checkbox] {
	-webkit-appearance: none;
	background-color: #202020;
	border: 1px solid #00FF88;
    padding: 8px;
    position: relative;
    top:6px;
}

input[type=checkbox]:checked {
	background-color: #00FF88;
}

input[type=text] {
	background-color: #202020;
	border: 1px solid #202020;
    width: 100%;
    font-size: large;
}

input[type=text].focus {
	background-color: #303030;
	border: 1px solid #00FF88;
}

.xlbutton {
    font-size: xx-large;
}

.xlcheckbox {
    padding: 20px;
    top:14px;
    font-size: xx-large;
}

.xltext {
    font-size: xx-large;
}
